/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {
	margin:0;
	padding:0;
} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
	height: 100%;
	
}

#wrap {
	min-height: 100%;
	font-family:Verdana, Geneva, sans-serif;
}

#main {
	overflow:auto;
	padding-bottom: 60px; /* must be same height as the footer */
} 

#footer {
	margin-top:-60px !important; /* negative value of footer height */	
	clear:both;
	color:white;
	height:60px;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:center;
	width:100%;
	background:none repeat scroll 0 0 #000000;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
} 

/*Opera Fix*/

body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


/*======================================================Main COnt=================================================*/

#wrap {
	width:100%;
	margin:auto;
}

#header {
	background:url('../images/header.gif');
	}


#header h1{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 210px;
    font-weight: bold;
    letter-spacing: -10px;
    line-height: 1;
    position: relative;
    text-align: center;
    text-shadow: 6px -3px 6px #FFFFFF;
    top: -20px;
}

#cont{
	width:800px;
	margin:auto;
	position:relative;
	top:20px;
}

#left-cont {
	position:relative;
	width:540px;
	display:block;
	height:100%;
	float:left;
	clear:right;
}

#right-cont{
	border:2px solid #000;
	display:block;
	height:100%;
	float:left;
	clear:right;
	position:relative;
	width:250px;
	text-align:center;
	line-height:1.2;
}




/*======================================================NAVBAR=================================================*/


#navBar {
background:none repeat scroll 0 0 #000000;
display:block;
height:56px;
position:absolute;
top:161px;
width:100%;
}

#navBar ul li {
    list-style:none;
    float:left;
	text-decoration:none;
	margin-left:39px;
	margin-right:39px;
	width:120px;
	text-align:center;
	margin-top:30px;
	}

#navBar h1{
	font-size:30px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#navBar a {
	text-decoration:none;
	color:#FFF;

	
}

#navBar a:hover{color:#79ce00;}

#activePage h1{
	color:#FF7400 !important;
}

#centerNav{
	width:800px;
	display:block;
	margin:auto;	
}

/*=====================================================Forms=================================================*/

label{
        display:block;
        width:100px;
        height:25px;
        position:relative;
        margin-bottom:15px;
        float:left;
}
input {
	width: 250px;
	height:25px;
	display:block;
	position:relative;
	background: #fff;
        background-image: -webkit-gradient(linear,left bottom,left top,
                            color-stop(0.05, rgb(255,255,255)
                            ),
                            color-stop(1, rgb(224,224,224)
                            )
                        );
        background-image: -moz-linear-gradient(center bottom,
                            rgb(255,255,255) 0%,
                            rgb(224,224,224) 100%
                        );
	border:0.1em solid #555;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding-left:5px;
	font-size:12px;
	color:#000;
	margin-bottom:15px;
}

textarea {
	width:200px;
	height:100px;
	display:block;
	position:relative;
	background: #fff;
        background-image: -webkit-gradient(linear,left bottom,left top,
                            color-stop(0.05, rgb(255,255,255)
                            ),
                            color-stop(1, rgb(224,224,224)
                            )
                        );
        background-image: -moz-linear-gradient(center bottom,
                            rgb(255,255,255) 0%,
                            rgb(224,224,224) 100%
                        );
	border:0.15em solid #555;
	-moz-border-radius:3px;
	padding-left:3px;
	font-size:12px;
	color:#555;
	margin-bottom:15px;
}

form {
}

.error {
	color: #FF0000;
}










/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
