/* =Global Elements
-------------------------------------------------------------- */
/*
CSS file created with:Instant Blueprint - Create a web project framework in seconds.
http://instantblueprint.com

Project: CJT 
File: css/style.css
Last edited: January 7, 2011, 1:51 pm
*/


@font-face {
    font-family: "Myriad-Proit";
    src: url("type/myriadpro-semiboldit-webfont.eot");
}
@font-face {
    font-family: "Myriad-Proit";
    font-style: normal;
    font-weight: normal;
    src: url("type/myriadpro-semiboldit-webfont.woff") format("woff"), url("type/myriadpro-semiboldit-webfont.ttf") format("truetype"), url("type/myriadpro-semiboldit-webfont.svg") format("svg");
}

@font-face {
    font-family: "Arial Narrow";
    src: url("type/arial_narrow.eot");
}
@font-face {
    font-family: "Arial Narrow";
    font-style: normal;
    font-weight: normal;
    src: url("type/arial_narrow.woff") format("woff"), url("type/arial_narrow.ttf") format("truetype"), url("type/arial_narrow.svg") format("svg");
}

@font-face {
    font-family: "Arial Narrow Bold";
    src: url("type/arial_narrow_bold.eot");
}
@font-face {
    font-family: "Arial Narrow Bold";
    font-style: normal;
    font-weight: bold;
    src: url("type/arial_narrow_bold.woff") format("woff"), url("type/arial_narrow_bold.ttf") format("truetype"), url("type/arial_narrow_bold.svg") format("svg");
}

a {color:#005596; text-decoration:none;}

a:hover {color:#001155;}

a:visited{color:#004A85;}


* {
	margin: 0;
 
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
}

#footer, #push {
    
	height:90px; /* .push must be the same height as .footer */
        clear:both;
}

#footer {
    border-top: 0.1em solid #BBBBBB;
    display: block;
    margin: auto;
    position: relative;
    background-color:#FFF;
    top:90px;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/*  Main  */
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
}


#header{
    background: url('../../../../images/header_grad.jpg') repeat-x;
}

#logo {
    background: url("../../../../images/logo.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 190px;
    position: relative;
    top: 15px;
    width: 155px;
    z-index: 100;
}

#logo h1{
    display:none;
}
#inner-header {
    background: url("../../../../images/header_bg.gif") no-repeat scroll 190px 0 transparent;
    left: 25px;
    margin: auto;
    position: relative;
    width: 989px;
    z-index: 100;
}

#right-header {
    background: none repeat scroll 0 0 #005596;
    display: block;
    float: right;
    height: 150px;
    position: relative;
    top: -190px;
    width: 50%;
    z-index: 25;
    clear:both;
}



#content {
    margin: auto;
    position: relative;
    top: 20px;
    width: 845px;
    height:100%;
    font-family:'Arial Narrow', Arial, helvetica, sans-serif;
    font-size:16px;
}

#home_bg #content {width:960px !important;}

div#content h2 {text-transform:uppercase;font-size:21px;}
div#content h3 {    border-bottom: 0.1em solid #444444;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    width: 100%;}
#content p {margin-top:10px;}

.info {
    color: #FFFFFF;
    font-size: 1em;
    left: 772px;
    line-height: 1.25;
    position: absolute;
    top: 13px;
    width: 200px;
    z-index: 1000;
}

.info a {text-decoration:none;color:#fff; font-weight:bold}
.info a:hover{color:#F9A91A !important;}
.info a:visited{color:#fff;}

#contact{position:relative; top:5px; left:60px;}

.slogan {
    color: #555555;
    font-family: 'Arial Narrow',Arial;
    font-size: 32px;
    font-style: italic;
    left: 178px;
    position: absolute;
    top: 115px;
    width: 350px;
    z-index: 1000;
}

#cont_header{
    background:url('../../../../images/cont_header.jpg') repeat-x 0px 0px;
    height:220px;
    width:100%;
    margin-top: 10px;
    display:block;
}

#cont_header span{display:block;height:220px; width:auto;}

.news_header {background:url('../../../../images/news-header.jpg') no-repeat center;}
.prod_header {background:url('../../../../images/products-header.jpg') no-repeat center;}
.show_header {background:url('../../../../images/show-header.jpg') no-repeat center;}
.resor_header {background:url('../../../../images/resources-header.jpg') no-repeat center;}
.price_header {background:url('../../../../images/price-header.jpg') no-repeat center;}
.contact_header {background:url('../../../../images/contact-header.jpg') no-repeat center;}


/****************************************************************************************************************/
/*                                             NAVIGATION STYLES PAGE
/*________________________________________________________________________________________________________________*/



#navigation {
    background: url('../../../../images/navBG.jpg') repeat-x;
    width:100%;
    height:60px;
    position:absolute;
    top:150px;
}

#navbar {
    font-size: 0.82em;
    margin: auto;
    position: relative;
    text-transform: uppercase;
    top: 10px;
    width: 1024px;
    z-index: 150;
}
#homeBtn {border:none !important;margin-left: 195px;}


#navbar li a{
    font-family: 'Arial Narrow Bold',Helvetica,Arial,sans-serif;
    color:#fff;
    font-weight:bold;
}

#footerNav {
   font-size: 12px;
    letter-spacing: 0.2em;
    margin: auto;
    position: relative;
    text-align: justify;
    text-transform: uppercase;
    top: 10px;
}

#footerNav ul {
   width:870px;
   margin:auto;
}


#footerNav ul li{
    text-decoration:none;
    float:left;
    position:relative;
    color:#555;
    text-transform:uppercase;
}

#footerNav > #homeBtn {
    margin-right: 0px !important;
}
#footer p {
    text-align:center;
}
    
.spacer{
    color: #555555;
    float: left;
    margin: 0 15px 10px;
    position: relative;
}

ul.hover {
    top:44px !important;
    width:220px !important;
}

ul.hover a{
    padding:20px 20px;
    height:40px;
    display:block;
    	
}

ul.hover img {
    float:right;
    vertical-align:middle;
}

ul.hover span {
float:left;
width:100px;
}

#footer a {text-decoration:none;color:#111; font-weight:bold}
#footer a:hover{color:#005596;}
#footer a:visited{color:#444;}



#slide-left {
    display: block;
    float: left;
    height: 350px;
    width: 171px;
    top:20px;
    position:relative;
}

#slide-left h2 {color: #005596; margin: 5px 0 0 0px;font-family:'Arial Narrow Bold'; font-size:34px; font-weight:bold;}
#slide-left p, #slide-left a {
    font-size: 17px;
    font-style: italic;
    line-height: 1.2;
    text-decoration:none;
    text-align:center;
    color:#000
}

#slide-left a {
    margin:5px auto;
    display:block;
    color:#005596;
}

#slide-left a:hover {
    color:#001155;
}


#social{
    display: block;
    height: 30px;
    width: 140px;
    margin:auto;
}

#social li a {
    display:block;
    width:30px;
    height:30px;
    float:left;
}

#social span{display:none;}
#fb a:hover{background:url('../../../../images/social_btns.jpg') 0px 0px no-repeat;}
#tw a:hover{background:url('../../../../images/social_btns.jpg') -30px 0px no-repeat;}
#vi a:hover{background:url('../../../../images/social_btns.jpg') -60px 0px no-repeat;}
#yt a:hover{background:url('../../../../images/social_btns.jpg') -90px 0px no-repeat;}
#fb a{background:url('../../../../images/social_btns.jpg') 0px -30px no-repeat;}
#tw a{background:url('../../../../images/social_btns.jpg') -30px -30px no-repeat;}
#vi a{background:url('../../../../images/social_btns.jpg') -60px -30px no-repeat;}
#yt a{background:url('../../../../images/social_btns.jpg') -90px -30px no-repeat;}

.contactLinks {
    position:relative;
    top:20px;
    width:500px;
    height:40px;
    display:block;
    float:left;
    clear:left;
}

.contactLinks a:hover{background:#AAA}

.contactLinks a {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: none repeat scroll 0 0 #005596;
    border: 2px solid #AAAABB;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 20px;
    padding: 7px 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 185px;
}
#contactmiddle {top:40px;}

#back a {color:#005596; text-decoration:none;}
#back a:hover{color:#001145;}


ul#secondaryNav{
    margin:auto;
    width:850px;
    top:0px;
    margin-bottom:20px;
    margin-top:10px;
}

ul#resourcesNav {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    top: 10px;
    width: 220px;
}

ul#resourcesNav a{
    margin-bottom:20px;
    margin-right:30px;
}

#resor {
    display: table-cell;
    height: 100%;
    position: relative;
    text-align: justify;
    width: 840px;
}

#upload a{
    margin-right:0px !important;
}


/****************************************************************************************************************/
/*                                             home PAGE
/*________________________________________________________________________________________________________________*/


#home_bg{
    background:url('../../../../images/home_bg.jpg') repeat-x;
    width:100%;
    height:630px;
    position:relative;
    top:20px;
}

#img-cont {
    width:350px;
    position:relative;
    float:left;
}

#img-cont p{
 margin-top:0px !important;    
}

#bottom {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 960px;
    top:-100px;
    left:-3px;
}

#left-cont{width:175px;position:relative;display:block;float:left;}
#middle-cont{width:570px;position:relative;display:block;float:left;left:15px;}
#inspiration p {text-align:justify;}
#right-cont{width:175px;position:relative;display:block;float:left;left:34px;}

#bottom ul li a {
    width:175px;
    height:90px;
    display:block;
    position:relative;
}

#bottom ul li a span{display:none;}

#middle-cont h3 {
    font-size:36px !important;
    font-family:'Arial Narrow', sans-serif;
    color:#005596;
    border-bottom: #005596 0.08em solid !important;
}

#inspiration h3 {
    font-size:28px !important;
    font-family:'Arial Narrow', sans-serif;
    color:#005596;
    border-bottom: #005596 0.07em solid !important;
}

.inforreq a {background:url('../../../../images/leftnav.gif') no-repeat;}
.prodreg a {background:url('../../../../images/leftnav.gif') 0px -90px no-repeat;}
.compprod a {background:url('../../../../images/leftnav.gif') -355px 0px no-repeat;}
.helping a {background:url('../../../../images/leftnav.gif') -355px -90px no-repeat;}

.inforreq a:hover {background:url('../../../../images/leftnav.gif') -175px 0px no-repeat;}
.prodreg a:hover{background:url('../../../../images/leftnav.gif') -175px -90px no-repeat;}
.compprod a:hover{background:url('../../../../images/leftnav.gif') -532px 0px no-repeat;}
.helping a:hover {background:url('../../../../images/leftnav.gif') -532px -90px no-repeat;}

/****************************************************************************************************************/
/*                                              PRODUCTS PAGE
/*________________________________________________________________________________________________________________*/


#products {
    text-align:justify;
}

.product {
    border: 1px solid #999999;
    display: inline-block;
    height: 110px;
    margin:40px 0 0 40px;
   
    text-align: center;
    width: 120px;
}

.prod-img {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    width: 120px;
    height: 100px;
}
.prod-img * {
    vertical-align: middle;
}
/*\*//*/
.prod-img {
    display: block;
}
.prod-img span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/


.slideViewer ul li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}
.slideViewer ul li * {
    vertical-align: middle;
}
/*\*//*/
.prod-img {
    display: block;
}
.prod-img span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/



.product a {
    text-transform:uppercase;
    color:#555;
    display: inline-table;
    font-size: 14px;

    text-decoration:none;
}

.product h4{
        position: relative;
    top: 15px;

}


.prod_desc {
    clear: right;
    float: left;
    left: 20px;
    line-height: 1.2;
    position: relative;
    text-align: justify;
    width: 480px;
}

.product a h3 {
    font-size:0.9em !important;
    border:none !important;
}

.prod_desc h2 {
    font-size:29px !important;
    line-height:0.9 !important;
    text-align:left !important;
}

.prod_desc h3 {
    border-bottom: 0.1em solid #444444;

    
}

#videos a {
    background:url('../images/video_bg.jpg') no-repeat;
    display: block;
    height: 60px;
    left: 733px;
    position: absolute;
    top: 90px;
    width: 110px;
}

#videos a:hover {background:url('../images/video_hover.jpg') no-repeat;}

#videos span{display:none;}

.enlarge {   margin:auto; width:300px; height:20px;   }

.enlarge span{
    color: #555555;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    width:235x;
    margin:auto;
}

.enlarge img {float:left; display:block;}

.enlarge p {
    clear: right;
    display: block;
    float: left;
    margin: 3px 0 0 7px !important;
    }
    
.tab_content a:hover {color:#AAA;}

.tab_content a img{border:0 none;}

.tab_content a span {vertical-align:middle;}

.tab_content li {list-style:none; margin:15px;}

.tab_content li > a:first-child {width:40px;}

.tab_content a { text-decoration:none;
    color:#005596;
}

.tab_content a:hover {color:#AAA;}

.link {
    color: #005596;
    display: block;
    font-family: 'Arial Narrow',Arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover{
    color:#444;
}

/******************************************************************************************************************/
/*                                              CONTACT PAGE
/*________________________________________________________________________________________________________________*/

.contact {
    line-height:1.5;
}

label{    float:left;
    clear:left;
    margin-bottom:10px;
}

input{
    width:275px;
    margin-left:5px;
    margin-bottom:5px;
    
    height:20px;
    float:left;
    clear:left;
    border:0.1em  solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(214,214,214)),
    color-stop(1, rgb(255,255,255))
);
    background-image: -moz-linear-gradient(
    center bottom,
    rgb(214,214,214) 0%,
    rgb(255,255,255) 100%
);

}

textarea{
    width:275px;
    float:left;
    clear:left;
    border:0.1em  solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(214,214,214)),
    color-stop(1, rgb(255,255,255))
);
    background-image: -moz-linear-gradient(
    center bottom,
    rgb(214,214,214) 0%,
    rgb(255,255,255) 100%
);

}

select{    float:left;
    clear:left;
    margin-right:10px;
    margin-bottom:10px;
}

#contactInfo {
    position:relative;
    top:20px;
    font:19px;
}

#registration {

    display: block;
    float: left;
    height: 100%;
    position: relative;
    top: 60px;
}

#quote {

    display: block;
    float: left;
    position: relative;
    top: 100px;
}

.contactTitle {font-size:20px;
font-weight:bold;}

#contlogo{
    background: url("../images/contlogo.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 240px;
    left: 650px;
    position: absolute;
    top: 115px;
    width: 205px;
    z-index:100;
}

#prodinfo {
    margin-top:20px;
}
.left-cont {
    /*border:1px solid #000;*/
    float:left;
    width:400px;
}

.right-cont {
    /*border:1px solid #000;*/
    float:left;
    width:400px;
    position:relative;
    top:10px;
}

#submit {
    width:150px !important;
    height:30px;
}

#prodinfo {
    margin-top:20px;
}
.radio {
    clear: left;
    float: left;
    margin: 5px 10px 5px 0;
    width:15px;

    
}

.radioLabel {    float:left;
    clear:none;
    
}
.method {    float:left;
    clear:left;
}

#other{
    float:left;
    clear:none;
}
.error {color:red;}

form h4 {
    float:left;
    clear:left;
    margin-top:10px;
}


form h3 {
    float:left;
    clear:left;}
    

/* RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT*/


.right-cont label{float:left;clear:left;}
.right-cont input{margin-left:5px;height:20px;float:left;clear:left;border:0.1em  solid #000;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(214,214,214)),color-stop(1, rgb(255,255,255)));background-image: -moz-linear-gradient(center bottom,rgb(214,214,214) 0%,rgb(255,255,255) 100%);}
.right-cont textarea{float:left;clear:left;border:0.1em  solid #000;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(214,214,214)),color-stop(1, rgb(255,255,255)));background-image: -moz-linear-gradient(center bottom,rgb(214,214,214) 0%,rgb(255,255,255) 100%);}
.right-cont select{float:left;clear:left;margin-right:10px;margin-bottom:10px;}
.right-cont .contactTitle {font-size:17px;font-weight:bold;}
.right-cont .radio {clear: left;float: left;margin: 5px 10px 5px 0;}
.right-cont .radioLabel {float:left;clear:none;}
.right-cont .method {float:left;clear:left;}
.right-cont #other{float:left;clear:none;}
.contactHeader {float:left;clear:left;}
.right-cont .error {color:red;}
.right-cont h4 {float:left;clear:left;margin-top:10px;}
.right-cont h3 {float:left;clear:left;}
.contH3 {font-size:15px !important; margin-bottom:10px;}

/****************************************************************************************************************/
/*                                             FOOTER PAGE
/*________________________________________________________________________________________________________________*/


 
#footer p {
    clear:both;
    position:relative;
    color:#555;
    font-size:0.8em;
    margin:auto;
    width:740px;
    text-align:center;
    top:10px
}

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

/* Area di scorrimento */
#left {
	width: 800px;
	height: 200px;
	overflow: hidden;
	border: 0.1em solid #555;
	padding: 0px;
	clear:both;
        margin:auto;
        top:15px;
        position:relative;
	}

/* Immagini */
#left img {
	height: 200px;
	margin: 0px 5px 0px 0px;
	border: 0px;
	clear:both;
        border-left: 0.1em solid #555;
        border-right: 0.1em solid #555;
	}
/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

#info {    margin-top:30px;}

/* Main global 'theme' and typographic styles */
body {
	background: #f1f1f1;
}
textarea {
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}


/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.xoxo {width:200px !important; float:left;}
#news {width:700px;float:left;}
/* =Header
-------------------------------------------------------------- */

#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 14px 0 18px 0;
	width: 220px;
}

/* =Menu
-------------------------------------------------------------- */

#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}


/* =Content
-------------------------------------------------------------- */

#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.category-asides {
	padding: 0;
}
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

#content img {
	margin: 0;
	height: auto;
	max-width: 640px;
	width: auto;
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}
#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
#content .wp-smiley {
	margin: 0;
}
#content .gallery {
	margin: 0 auto 18px;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	    color: #333333;
    float: none;
    width: 47px;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}


