/*
CSS file created with:Instant Blueprint - Create a web project framework in seconds.
http://instantblueprint.com

Project: CJT 
File: css/style.css
Last edited: January 7, 2011, 1:51 pm
*/

@font-face {
    font-family: "Myriad-Proit";
    src: url("type/myriadpro-semiboldit-webfont.eot");
}
@font-face {
    font-family: "Myriad-Proit";
    font-style: normal;
    font-weight: normal;
    src: url("type/myriadpro-semiboldit-webfont.woff") format("woff"), url("type/myriadpro-semiboldit-webfont.ttf") format("truetype"), url("type/myriadpro-semiboldit-webfont.svg") format("svg");
}

@font-face {
    font-family: "Arial Narrow";
    src: url("type/arial_narrow.eot");
}
@font-face {
    font-family: "Arial Narrow";
    font-style: normal;
    font-weight: normal;
    src: url("type/arial_narrow.woff") format("woff"), url("type/arial_narrow.ttf") format("truetype"), url("type/arial_narrow.svg") format("svg");
}

@font-face {
    font-family: "Arial Narrow Bold";
    src: url("type/arial_narrow_bold.eot");
}
@font-face {
    font-family: "Arial Narrow Bold";
    font-style: normal;
    font-weight: bold;
    src: url("type/arial_narrow_bold.woff") format("woff"), url("type/arial_narrow_bold.ttf") format("truetype"), url("type/arial_narrow_bold.svg") format("svg");
}


* {
	margin: 0;
}
html, body {
	height: 100%;
}

p {
    margin-bottom:10px;
}

h2 {
    margin-bottom:15px;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
}


div#popcontent h2 {text-transform:uppercase;font-size:22px;}
div#popcontent h2 {line-height:2.2; border-bottom:0.1em solid #444;}
#popcontent p {margin-top:10px;}

div#popcontent h3 {line-height:1.5; border-bottom:0.1em solid #444;}

#footer, #push {
    
	height:90px; /* .push must be the same height as .footer */
        clear:both;
}

#footer {
    border-top: 0.1em solid #BBBBBB;
    display: block;
    margin: auto;
    position: relative;
    background-color:#FFF;
    top:50px;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/*  Main  */
body {
 font-family: "Arial Narrow", Helvetica, sans-serif;
 font-size: 16px;
 line-height:1.3;
}

#bodyCont {
    width:680px;
    position:relative;
    left:20px;
    top:20px;
}
#header{
    background: url('../images/header_grad.jpg') repeat-x;
}

#logo {
    background: url("../images/logo.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 190px;
    position: relative;
    top: 15px;
    width: 155px;
    z-index: 100;
}

#logo h1{
    display:none;
}
#inner-header {
    background: url("../images/header_bg.gif") no-repeat scroll 190px 0 transparent;
    left: 25px;
    margin: auto;
    position: relative;
    width: 989px;
    z-index: 100;
}
.slogan {
    color: #555555;
    font-family: Arial Narrow,Arial;
    font-size: 32px;
    font-style: italic;
    left: 155px;
    position: absolute;
    top: 162px;
}



#popcontent {
    margin: auto;
    position: relative;
    top: 20px;
    width: 500px;
    height:100%;
    font-family:'Arial Narrow', helvetica, sans-serif;
    font-size:16px;
}

form label{
    clear: left;
    display: block;
    float: left;
    font-size: 15px;
    height: 20px;
    margin-top: 18px;
    text-align: right;
    vertical-align: middle;
    width:80px;
}

form input {
    width:225px;
    height:20px;
    margin-top:15px;
    margin-left:5px;
    float:left;
    background:#FFE494;
    border:0.1em  solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #FFD500),
    color-stop(1, #FFBD00)
);
    background-image: -moz-linear-gradient(
    center bottom,
    #FFD500 0%,
    #FFBD00 100%
);

}

h3 a {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: none repeat scroll 0 0 #005596;
    border: 2px solid #AAAABB;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 20px;
    padding: 7px 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 380px;
}
#submit {
    clear: both;
    left: 90px;
    position: relative;
    width: 130px;
}

#remove {
    width:50px;
    display:block;
    float:left;
    clear:right;
    background:#FF6800;
        background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #FF9D00),
    color-stop(1, #FF6800)
);
    background-image: -moz-linear-gradient(
    center bottom,
    #FF9D00 0%,
    #FF6800 100%
);
}

#extra {
    width:140px;
}


#left{
    width:365px;
    float:left;
}

.success {
    width:500px !important;
    float:none !important;
}

.lightbox img {
    border:2px solid #005596;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    
}
.video {
    width:500px !important;
}
#right{
    width:365px;
    margin-top:40px;
    float:left;
}

#downloads a {
/*h:300px;
    vertical-align:middle;
    text-decoration:none;
    color:#005596;
*/
}

#downloads a:hover {color:#AAA;}

#downloads a img{border:0 none;}

#downloads a span {vertical-align:middle;}

li {list-style:none; margin:15px;}

#downloads li > a:first-child {width:40px;}

a {
    text-decoration:none;
    color:#005596;
}
a:hover {color:#AAA;}


.video_link {
    border: 2px solid #004B86;
    float: left;
    height: 100px;
    width: 210px;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}


#youtube_link {background: url('../images/youtube_logo.gif') no-repeat center;}
#teachertube_link {background: url('../images/teacher_tube_logo.gif') no-repeat center;}


/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}


/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}




