/*
CSS file created with:Instant Blueprint - Create a web project framework in seconds.
http://instantblueprint.com

Project: CJT 
File: css/style.css
Last edited: January 7, 2011, 1:51 pm
*/


@font-face {
    font-family: "Myriad-Proit";
    src: url("type/myriadpro-semiboldit-webfont.eot");
}
@font-face {
    font-family: "Myriad-Proit";
    font-style: normal;
    font-weight: normal;
    src: url("type/myriadpro-semiboldit-webfont.woff") format("woff"), url("type/myriadpro-semiboldit-webfont.ttf") format("truetype"), url("type/myriadpro-semiboldit-webfont.svg") format("svg");
}

@font-face {
    font-family: "Arial Narrow";
    src: url("type/arial_narrow.eot");
}
@font-face {
    font-family: "Arial Narrow";
    font-style: normal;
    font-weight: normal;
    src: url("type/arial_narrow.woff") format("woff"), url("type/arial_narrow.ttf") format("truetype"), url("type/arial_narrow.svg") format("svg");
}

@font-face {
    font-family: "Arial Narrow Bold";
    src: url("type/arial_narrow_bold.eot");
}
@font-face {
    font-family: "Arial Narrow Bold";
    font-style: normal;
    font-weight: bold;
    src: url("type/arial_narrow_bold.woff") format("woff"), url("type/arial_narrow_bold.ttf") format("truetype"), url("type/arial_narrow_bold.svg") format("svg");
}

a {color:#005596; text-decoration:none;}

a:hover {color:#001155;}

a:visited{color:#004A85;}


* {
	margin: 0;
 
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
}

#footer, #push {
    
	height:90px; /* .push must be the same height as .footer */
        clear:both;
}

#footer {
    border-top: 0.1em solid #BBBBBB;
    display: block;
    margin: auto;
    position: relative;
    background-color:#FFF;
    top:90px;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/*  Main  */
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
}


#header{
    background: url('../images/header_grad.jpg') repeat-x;
}

#logo {
    background: url("../images/logo.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 190px;
    position: relative;
    top: 15px;
    width: 155px;
    z-index: 100;
}

#logo h1{
    display:none;
}
#inner-header {
    background: url("../images/header_bg.gif") no-repeat scroll 190px 0 transparent;
    left: 25px;
    margin: auto;
    position: relative;
    width: 989px;
    z-index: 100;
}

#right-header {
    background: none repeat scroll 0 0 #005596;
    display: block;
    float: right;
    height: 150px;
    position: relative;
    top: -190px;
    width: 50%;
    z-index: 25;
    clear:both;
}



#content {
    margin: auto;
    position: relative;
    top: 20px;
    width: 845px;
    height:100%;
    font-family:'Arial Narrow', Arial, helvetica, sans-serif;
    font-size:16px;
}

#home_bg #content {width:960px !important;}

div#content h2 {text-transform:uppercase;font-size:21px;}
div#content h3 {    border-bottom: 0.1em solid #444444;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    width: 100%;}
#content p {margin-top:10px;}

.info {
    color: #FFFFFF;
    font-size: 1em;
    left: 772px;
    line-height: 1.25;
    position: absolute;
    top: 13px;
    width: 200px;
    z-index: 1000;
}

.info a {text-decoration:none;color:#fff; font-weight:bold}
.info a:hover{color:#F9A91A !important;}
.info a:visited{color:#fff;}

#contact{position:relative; top:5px; left:60px;}

.slogan {
    color: #555555;
    font-family: 'Arial Narrow',Arial;
    font-size: 32px;
    font-style: italic;
    left: 178px;
    position: absolute;
    top: 115px;
    width: 350px;
    z-index: 1000;
}

#cont_header{
    background:url('../images/cont_header.jpg') repeat-x 0px 0px;
    height:220px;
    width:100%;
    margin-top: 10px;
    display:block;
}

#cont_header span{display:block;height:220px; width:auto;}

.news_header {background:url('../images/news-header.jpg') no-repeat center;}
.prod_header {background:url('../images/products-header.jpg') no-repeat center;}
.show_header {background:url('../images/show-header.jpg') no-repeat center;}
.resor_header {background:url('../images/resources-header.jpg') no-repeat center;}
.price_header {background:url('../images/price-header.jpg') no-repeat center;}
.contact_header {background:url('../images/contact-header.jpg') no-repeat center;}


/****************************************************************************************************************/
/*                                             NAVIGATION STYLES PAGE
/*________________________________________________________________________________________________________________*/



#navigation {
    background: url('../images/navBG.jpg') repeat-x;
    width:100%;
    height:60px;
    position:absolute;
    top:150px;
}

#navbar {
    font-size: 0.82em;
    margin: auto;
    position: relative;
    text-transform: uppercase;
    top: 10px;
    width: 1024px;
    z-index: 150;
}
#homeBtn {border:none !important;margin-left: 195px;}


#navbar li a{
    font-family: 'Arial Narrow Bold',Helvetica,Arial,sans-serif;
    color:#fff;
    font-weight:bold;
}

#footerNav {
   font-size: 12px;
    letter-spacing: 0.2em;
    margin: auto;
    position: relative;
    text-align: justify;
    text-transform: uppercase;
    top: 10px;
}

#footerNav ul {
   width:870px;
   margin:auto;
}


#footerNav ul li{
    text-decoration:none;
    float:left;
    position:relative;
    color:#555;
    text-transform:uppercase;
}

#footerNav > #homeBtn {
    margin-right: 0px !important;
}
#footer p {
    text-align:center;
}
    
.spacer{
    color: #555555;
    float: left;
    margin: 0 15px 10px;
    position: relative;
}

ul.hover {
    top:44px !important;
    width:220px !important;
}

ul.hover a{
    padding:20px 20px;
    height:40px;
    display:block;
    	
}

ul.hover img {
    float:right;
    vertical-align:middle;
}

ul.hover span {
float:left;
width:100px;
}

#footer a {text-decoration:none;color:#111; font-weight:bold}
#footer a:hover{color:#005596;}
#footer a:visited{color:#444;}



#slide-left {
    display: block;
    float: left;
    height: 350px;
    width: 171px;
    top:20px;
    position:relative;
}

#slide-left h2 {color: #005596; margin: 5px 0 0 0px;font-family:'Arial Narrow Bold'; font-size:34px; font-weight:bold;}
#slide-left p, #slide-left a {
    font-size: 17px;
    font-style: italic;
    line-height: 1.2;
    text-decoration:none;
    text-align:center;
    color:#000
}

#slide-left a {
    margin:5px auto;
    display:block;
    color:#005596;
}

#slide-left a:hover {
    color:#001155;
}


#social{
    display: block;
    height: 30px;
    width: 140px;
    margin:auto;
}

#social li a {
    display:block;
    width:30px;
    height:30px;
    float:left;
}

#social span{display:none;}
#fb a:hover{background:url('../images/social_btns.jpg') 0px 0px no-repeat;}
#tw a:hover{background:url('../images/social_btns.jpg') -30px 0px no-repeat;}
#vi a:hover{background:url('../images/social_btns.jpg') -60px 0px no-repeat;}
#yt a:hover{background:url('../images/social_btns.jpg') -90px 0px no-repeat;}
#fb a{background:url('../images/social_btns.jpg') 0px -30px no-repeat;}
#tw a{background:url('../images/social_btns.jpg') -30px -30px no-repeat;}
#vi a{background:url('../images/social_btns.jpg') -60px -30px no-repeat;}
#yt a{background:url('../images/social_btns.jpg') -90px -30px no-repeat;}

.contactLinks {
    position:relative;
    top:20px;
    width:500px;
    height:40px;
    display:block;
    float:left;
    clear:left;
}

.contactLinks a:hover{background:#AAA}

.contactLinks a {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: none repeat scroll 0 0 #005596;
    border: 2px solid #AAAABB;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 20px;
    padding: 7px 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 185px;
}
#contactmiddle {top:40px;}

#back a {color:#005596; text-decoration:none;}
#back a:hover{color:#001145;}


ul#secondaryNav{
    margin:auto;
    width:850px;
    top:0px;
    margin-bottom:20px;
    margin-top:10px;
}

ul#resourcesNav {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    top: 10px;
    width: 220px;
}

ul#resourcesNav a{
    margin-bottom:20px;
    margin-right:30px;
}

#resor {
    display: table-cell;
    height: 100%;
    position: relative;
    text-align: justify;
    width: 840px;
}

#upload a{
    margin-right:0px !important;
}


/****************************************************************************************************************/
/*                                             home PAGE
/*________________________________________________________________________________________________________________*/


#home_bg{
    background:url('../images/home_bg.jpg') repeat-x;
    width:100%;
    height:630px;
    position:relative;
    top:20px;
}

#img-cont {
    width:350px;
    position:relative;
    float:left;
}

#img-cont p{
 margin-top:0px !important;    
}

#bottom {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 960px;
    top:-100px;
    left:-3px;
}

#left-cont{width:175px;position:relative;display:block;float:left;}
#middle-cont{width:570px;position:relative;display:block;float:left;left:15px;}
#inspiration p {text-align:justify;}
#right-cont{width:175px;position:relative;display:block;float:left;left:34px;}

#bottom ul li a {
    width:175px;
    height:90px;
    display:block;
    position:relative;
}

#bottom ul li a span{display:none;}

#middle-cont h3 {
    font-size:36px !important;
    font-family:'Arial Narrow', sans-serif;
    color:#005596;
    border-bottom: #005596 0.08em solid !important;
}

#inspiration h3 {
    font-size:28px !important;
    font-family:'Arial Narrow', sans-serif;
    color:#005596;
    border-bottom: #005596 0.07em solid !important;
}

.inforreq a {background:url('../images/leftnav.gif') no-repeat;}
.prodreg a {background:url('../images/leftnav.gif') 0px -90px no-repeat;}
.compprod a {background:url('../images/leftnav.gif') -355px 0px no-repeat;}
.helping a {background:url('../images/leftnav.gif') -355px -90px no-repeat;}

.inforreq a:hover {background:url('../images/leftnav.gif') -175px 0px no-repeat;}
.prodreg a:hover{background:url('../images/leftnav.gif') -175px -90px no-repeat;}
.compprod a:hover{background:url('../images/leftnav.gif') -532px 0px no-repeat;}
.helping a:hover {background:url('../images/leftnav.gif') -532px -90px no-repeat;}

/****************************************************************************************************************/
/*                                              PRODUCTS PAGE
/*________________________________________________________________________________________________________________*/


#products {
    text-align:justify;
}

.product {
    border: 1px solid #999999;
    display: inline-block;
    height: 110px;
    margin:40px 0 0 40px;
   
    text-align: center;
    width: 120px;
}

.prod-img {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    width: 120px;
    height: 100px;
}
.prod-img * {
    vertical-align: middle;
}
/*\*//*/
.prod-img {
    display: block;
}
.prod-img span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/


.slideViewer ul li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}
.slideViewer ul li * {
    vertical-align: middle;
}
/*\*//*/
.prod-img {
    display: block;
}
.prod-img span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/



.product a {
    text-transform:uppercase;
    color:#555;
    display: inline-table;
    font-size: 14px;

    text-decoration:none;
}

.product h4{
        position: relative;
    top: 15px;

}


.prod_desc {
    clear: right;
    float: left;
    left: 20px;
    line-height: 1.2;
    position: relative;
    text-align: justify;
    width: 480px;
}

.product a h3 {
    font-size:0.9em !important;
    border:none !important;
}

.prod_desc h2 {
    font-size:29px !important;
    line-height:0.9 !important;
    text-align:left !important;
}

.prod_desc h3 {
    border-bottom: 0.1em solid #444444;

    
}

#videos a {
    background:url('../images/video_bg.jpg') no-repeat;
    display: block;
    height: 60px;
    left: 733px;
    position: absolute;
    top: 90px;
    width: 110px;
}

#videos a:hover {background:url('../images/video_hover.jpg') no-repeat;}

#videos span{display:none;}

.enlarge {   margin:auto; width:300px; height:20px;   }

.enlarge span{
    color: #555555;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    width:235x;
    margin:auto;
}

.enlarge img {float:left; display:block;}

.enlarge p {
    clear: right;
    display: block;
    float: left;
    margin: 3px 0 0 7px !important;
    }
    
.tab_content a:hover {color:#AAA;}

.tab_content a img{border:0 none;}

.tab_content a span {vertical-align:middle;}

.tab_content li {list-style:none; margin:15px;}

.tab_content li > a:first-child {width:40px;}

.tab_content a { text-decoration:none;
    color:#005596;
}

.tab_content a:hover {color:#AAA;}

.link {
    color: #005596;
    display: block;
    font-family: 'Arial Narrow',Arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover{
    color:#444;
}

/******************************************************************************************************************/
/*                                              CONTACT PAGE
/*________________________________________________________________________________________________________________*/

.contact {
    line-height:1.5;
}

label{    float:left;
    clear:left;
    margin-bottom:10px;
}

input{
    width:275px;
    margin-left:5px;
    margin-bottom:5px;
    
    height:20px;
    float:left;
    clear:left;
    border:0.1em  solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(214,214,214)),
    color-stop(1, rgb(255,255,255))
);
    background-image: -moz-linear-gradient(
    center bottom,
    rgb(214,214,214) 0%,
    rgb(255,255,255) 100%
);

}

textarea{
    width:275px;
    float:left;
    clear:left;
    border:0.1em  solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(214,214,214)),
    color-stop(1, rgb(255,255,255))
);
    background-image: -moz-linear-gradient(
    center bottom,
    rgb(214,214,214) 0%,
    rgb(255,255,255) 100%
);

}

select{    float:left;
    clear:left;
    margin-right:10px;
    margin-bottom:10px;
}

#contactInfo {
    position:relative;
    top:20px;
    font:19px;
}

#registration {

    display: block;
    float: left;
    height: 100%;
    position: relative;
    top: 60px;
}

#quote {

    display: block;
    float: left;
    position: relative;
    top: 100px;
}

.contactTitle {font-size:20px;
font-weight:bold;}

#contlogo{
    background: url("../images/contlogo.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 240px;
    left: 650px;
    position: absolute;
    top: 115px;
    width: 205px;
    z-index:100;
}

#prodinfo {
    margin-top:20px;
}
.left-cont {
    /*border:1px solid #000;*/
    float:left;
    width:400px;
}

.right-cont {
    /*border:1px solid #000;*/
    float:left;
    width:400px;
    position:relative;
    top:10px;
}

#submit {
    width:150px !important;
    height:30px;
}

#prodinfo {
    margin-top:20px;
}
.radio {
    clear: left;
    float: left;
    margin: 5px 10px 5px 0;
    width:15px;

    
}

.radioLabel {    float:left;
    clear:none;
    
}
.method {    float:left;
    clear:left;
}

#other{
    float:left;
    clear:none;
}
.error {color:red;}

form h4 {
    float:left;
    clear:left;
    margin-top:10px;
}


form h3 {
    float:left;
    clear:left;}
    

/* RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT RIGHT - CONT*/


.right-cont label{float:left;clear:left;}
.right-cont input{margin-left:5px;height:20px;float:left;clear:left;border:0.1em  solid #000;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(214,214,214)),color-stop(1, rgb(255,255,255)));background-image: -moz-linear-gradient(center bottom,rgb(214,214,214) 0%,rgb(255,255,255) 100%);}
.right-cont textarea{float:left;clear:left;border:0.1em  solid #000;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(214,214,214)),color-stop(1, rgb(255,255,255)));background-image: -moz-linear-gradient(center bottom,rgb(214,214,214) 0%,rgb(255,255,255) 100%);}
.right-cont select{float:left;clear:left;margin-right:10px;margin-bottom:10px;}
.right-cont .contactTitle {font-size:17px;font-weight:bold;}
.right-cont .radio {clear: left;float: left;margin: 5px 10px 5px 0;}
.right-cont .radioLabel {float:left;clear:none;}
.right-cont .method {float:left;clear:left;}
.right-cont #other{float:left;clear:none;}
.contactHeader {float:left;clear:left;}
.right-cont .error {color:red;}
.right-cont h4 {float:left;clear:left;margin-top:10px;}
.right-cont h3 {float:left;clear:left;}
.contH3 {font-size:15px !important; margin-bottom:10px;}

/****************************************************************************************************************/
/*                                           SHOWROOM  PAGE
/*________________________________________________________________________________________________________________*/

#galleryLink {
    display: block;
    position: relative;
    text-align: center;
    width: 290px;
}

#galleryLink a{
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: none repeat scroll 0 0 #005596;
    border: 2px solid #AAAABB;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    margin: 15px auto auto;
    padding: 7px 3px 4px;
    text-decoration: none;
    width: 140px;

}

#galleryLink a:hover{background:#AAA}


.gallery {
    display:block;
    position:relative;
    width:100%;
    height:100%;
    margin-top:30px;
    top:30px;
}

.gallery .enlarge {
    margin:15px auto;
}

.gallery h2 {text-align:center;}

.glightbox img {
    border: 1px solid #AAAAAA;
    margin: 0 0 20px 20px;
}

/****************************************************************************************************************/
/*                                             FOOTER PAGE
/*________________________________________________________________________________________________________________*/


 
#footer p {
    clear:both;
    position:relative;
    color:#555;
    font-size:0.8em;
    margin:auto;
    width:740px;
    text-align:center;
    top:10px
}

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

/* Area di scorrimento */
#left {
	width: 800px;
	height: 200px;
	overflow: hidden;
	border: 0.1em solid #555;
	padding: 0px;
	clear:both;
        margin:auto;
        top:15px;
        position:relative;
	}

/* Immagini */
#left img {
	height: 200px;
	margin: 0px 5px 0px 0px;
	border: 0px;
	clear:both;
        border-left: 0.1em solid #555;
        border-right: 0.1em solid #555;
	}



#slider-wrapper {
    display: block;
    float: right;
    height: 350px;
    position: relative;
    top: -158px;
    width: 720px;
    right:10px;
}

#slider-layover {
    background: url("../images/sliderLayover.gif") no-repeat scroll 0 0 transparent;
    height: 350px;
    width: 690px;
    z-index: 100;
    position:relative;
}
#slider {
    float: left !important;
    position:relative;
    overflow: hidden;
    width: 720px;
    position: relative;
    top: 0px;
    height:335px; 	/*this changes the height of the image slider*/
    background:url('../images/preload.gif') no-repeat 50% 50% !important;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
    bottom: 130px;
    left: 690px;
    position: absolute;
    background:#555;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    z-index:2000;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}


/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}





ul.tabs {
	margin-top: 40px;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size:15px;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 10px;
        font-size:14px;
}

.tab_content tr > td:first-child {
    font-weight:bold;
}

.tab_content td{
    border:1px solid #555;
    padding:5px;
    text-align:top;
    
}

.tab_content tr.alt td {
    background: #ccddFF;
}

.tab_content tr.over td {
    background: #EdEdFF;
}

#info {    margin-top:30px;}
